.article-card-wrapper {
  display: grid;
  align-items: center;
  grid-template-rows: 3fr 7fr;
  text-align: left;
  font-size: 50%;
  min-height: var(--carousel-item-height);
  .article-icon {
    text-align: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 400%;
  }
  .article-header {
    z-index: 999;
    min-height: calc(var(--carousel-item-height) * 0.3);
    width: 100%;
    height: 100%;
    background-color: #1b1b1b;
    padding: 1em;
    color: white;
    a {
      font-size: 1.5em;
      color: white;
      text-decoration: none;
    }
  }

  .article-image-container {
    width: 100%;
    height: 100%;
    position: relative;
    .article-image {
      z-index: 999;
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
      width: 100%;
      height: 100%;
      div {
        width: 100%;
        height: 100%;
        div {
          max-height: calc(var(--carousel-item-height) * 0.7);
        }
      }
    }

    .article-image-blur {
      height: calc(var(--carousel-item-height) * 0.7);
      width: 100%;
      position: absolute;
      background-size: cover;
      filter: blur(5px) brightness(0.9);
      background-repeat: no-repeat;
      background-position: center center;
    }
  }
}
