.article-card-wrapper {
  box-sizing: border-box;
  display: grid;
  align-items: center;
  grid-template-rows: 3fr 7fr;
  text-align: left;
  font-size: 50%;
  min-height: var(--carousel-item-height);

  .article-icon {
    text-align: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 700%;
  }
  .article-header {
    z-index: 999;
    min-height: calc(var(--carousel-item-height) * 0.3);
    width: 100%;
    height: 100%;
    background-color: #1b1b1b;
    padding: 1em;
    color: white;
    a {
      font-size: 1.5em;
      color: white;
      text-decoration: none;
    }
  }

  .article-image-container {
    margin-bottom: 1em;
    width: 100%;
    height: 100%;
    position: relative;
    .article-image {
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
      width: 100%;
      height: 100%;
      div {
        width: 100%;
        height: 100%;
        div {
          max-height: calc(var(--carousel-item-height) * 0.7);
        }
      }
    }

    .article-image-blur {
      height: calc(var(--carousel-item-height) * 0.7);
      width: 100%;
      position: absolute;
      background-size: cover;
      filter: blur(5px) brightness(0.75);
      background-repeat: no-repeat;
      background-position: center center;
    }
  }
}

.article-card-container {
  box-sizing: content-box;
  text-align: center;
  background-color: gray;
  width: 95%;
  height: var(--carousel-item-height);
  border: 1px solid black;
}
