@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

* {
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}
header {
  height: 100%;
  width: 100%;
  background-color: #1b1b1b;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&display=swap');

footer {
  padding: 1em;
  background-color: #1b1b1b;
}
/* Hide scrollbar for IE, Edge and Firefox */
body {
  height: 100%;
  margin: 0;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  padding: 0;
	background-color: #EFEFEF;
}

main {
  padding: 0;
  min-height: 88vh;
}

html {
  height: 100%;
  margin: 0;
  min-width: 320px;
  background-color: #f1f1f1;
}

:root {
  --carousel-item-height: 450px;
  --bio-item-width: 300px;
}
h2 {
	font-family: 'Poppins', sans-serif;
	font-size: 2em;
	background-color: #E3C8FF;
	line-height: 70%!important;
	text-transform: lowercase;
	margin-bottom: 1rem;
	font-weight: 800!important;
	margin-top: 0.6em;
	
}

h1, h3, h4, h5, h6 {
  margin-top: 0rem;
  margin-bottom: 0.5rem;
	text-align: center!important;
	color: #151515;
	
}
h1 {
	font-family: 'Poppins', sans-serif;
	font-weight: 800!important; 
	font-size: 3.5em;
	line-height: 1.1;
	margin-bottom: 0.2em;
	color: #151515;
	
}
h2 {
	font-family: 'Poppins', sans-serif;
	font-size: 2em;
	background-color: #E3C8FF;
	line-height: 70%!important;
	text-transform: lowercase;
	margin-bottom: 1rem;
	font-weight: 800!important;
	margin-top: 0.6em;
	
}
h3 {
	font-family: 'Poppins', sans-serif;
	font-size: 1.1em;
	font-weight: 400;
	color: #4c4c4c;
	line-height: 90%!important;
	margin: 1em 0;
	
}
h3 span {
    background-color: rgba(221,210,241,0.8);
	padding: 0 1em 0 1em;
	}
h4 {
	font-family: 'Poppins', sans-serif;
	font-size: 1.1em;
	color: #e7e7e7;
	display: inline-block;
	padding: 0.5em 1.5em 0.5em 1.5em;
	margin: 0.5em 1em 0.5em 1em;
	border-top: 2px solid #4F4F4F;
	border-left: 2px solid #4F4F4F;
	border-bottom: 2px solid #1B1B1B;
	border-right: 2px solid #1b1b1b;
	background-color: #353535;
	border-radius: 5px;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	font-weight: 800;
	

}
h4:hover{
	border-top: 2px solid #5d5d5d;
	border-left: 2px solid #5d5d5d;
	border-bottom: 2px solid #212121;
	border-right: 2px solid #212121;
	background-color: #3e3e3e;
	transition-duration: 1s;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
	font-family: Arial;
	font-weight: 350;
	font-size: 0.9rem;
	color: #151515;
	line-height: 1.8;
	
}
p .text-center {
	text-align: center !important;
}
.navi-container {
	background-color: #2A2A2A;
	padding: 1em 3em 1em 3em;
	margin: 0;

}
.header-container {
	background-image: url(https://images.unsplash.com/photo-1616001089004-04948fc0e6c1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2100&q=80.jpg);
	background-repeat: no-repeat;	
	background-size: cover;
	background-color: #e5e5e5; 
	display: block;
	border: 0;
	padding: 4em 3em 4em 3em;
	align: center;
	margin: 0 0 2em 0;
	}
	
	
.body-container {
	width: 80%;
	margin: 0 auto 0 auto;
	
	
}