.desktop-nav-container {
  .navbar-item {
   
  }
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  * {
    font-size: 1em;
    margin: 0;
    padding: 0 1em 0 1em;
  }
  .logo {
    font-size: 3em;
  }
  justify-items: center;
  align-items: center;
  min-height: 125px;
  margin: 0 30em 0 30em;
}
.navi-container {
	background-color: #2A2A2A;
	padding: 1em 3em 1em 3em;
	margin: 0;
}