.desktop-nav-container {
  .navbar-item {
    font-size: 9px;
    max-height: var(--logo-size);
    margin: 0;
    padding: 0;
  }
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  justify-items: center;
  align-items: center;
  height: 100%;
  max-height: var(--logo-size);
}
