.collapsible {
  height: 0;
  transform: scale(1, 0);
  transform-origin: top;
  transition: none;
  h1 {
    opacity: 0;
    transition: none;
  }
}

#mobile-nav-toggle:checked ~ .collapsible {
  height: 100%;
  transform: scale(1, 1);
  transition: transform 400ms ease-in-out;
  h1 {
    opacity: 1;
    transition: opacity 200ms ease-in-out 200ms;
  }
}
.mobile-nav-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  * {
    position: static;
  }
  position: relative;
}

.mobile-nav {
  .navbar-item {
    color: white;
    text-align: center;
  }
  a {
    text-decoration: none;
  }
  .logo {
    height: 50%;
    overflow: hidden;
  }
}

.toggle-arrow {
  display: flex;
  font-size: 2em;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0;
  padding: 0;
  color: white;
}
