.collapsible {
  height: 0;
  transform: scale(1, 0);
  transform-origin: top;
  transition: none;
  h4 {
    opacity: 0;
    transition: none;
  }
}

#mobile-nav-toggle:checked ~ .collapsible {
  height: 100%;
  transform: scale(1, 1);
  transition: transform 400ms ease-in-out;
  h4 {
    opacity: 1;
    transition: opacity 200ms ease-in-out 200ms;
    line-height: 100%;
    padding: 1.5em;
    margin:0;
  }
}
.mobile-nav-container {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0.5em;
}

.mobile-nav {
  
  .navbar-item {
    color: white;
    div {
    }
    text-align: center;
  }
  a {
    text-decoration: none;
  }
  .logo {
    font-size: 10px;
    max-height: 0.1em;
  }
}

.toggle-arrow {
  display: flex;
  font-size: 2em;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0;
  padding: 0;
  color: white;
}