.carousel-section {
  border-radius: 1em;
  text-align: center;
  padding: 1em;
  background-color: gray;
  width: 95%;
}

.carousel-nav-bar {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  justify-content: space-evenly;
  font-size: 2em;
}

.carousel-nav-bar-wrapper {
  display: grid;
  width: 100%;
  grid-template-columns: 8fr 2fr;
  align-items: center;
}

.rec-carousel-item {
  width: 100%;
}

.rec-carousel-wrapper {
  width: 100%;
}

.rec-slider {
  width: 100%;
}
